*~
.*~
*.db
*.log
*.ncb
*.pdb
*.sdf
*.suo
*.vcproj.*.user
*.vcxproj.user

.vs
.Rhistory

bin/.intermediate_*

bin/standalone/traKmeter*.exe
bin/standalone/trakmeter_*

bin/vst/traKmeter*.dll
bin/vst/trakmeter_*.so

bin/vst3/traKmeter*.vst3
bin/vst3/trakmeter_*.so

skins/default_skin.ini

Source/api/

final/
ignore/
releases/

ipch/
Debug/
Release/
