{% set copyright = [
  '----------------------------------------------------------------------------',
  '',
  'traKmeter',
  '=========',
  'Loudness meter for correctly setting up tracking and mixing levels',
  '',
  'Copyright (c) 2012-2020 Martin Zuther (http://www.mzuther.de/)',
  '',
  'This program is free software: you can redistribute it and/or modify',
  'it under the terms of the GNU General Public License as published by',
  'the Free Software Foundation, either version 3 of the License, or',
  '(at your option) any later version.',
  '',
  'This program is distributed in the hope that it will be useful,',
  'but WITHOUT ANY WARRANTY; without even the implied warranty of',
  'MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the',
  'GNU General Public License for more details.',
  '',
  'You should have received a copy of the GNU General Public License',
  'along with this program.  If not, see <http://www.gnu.org/licenses/>.',
  '',
  'Thank you for using free software!',
  '',
  '----------------------------------------------------------------------------'
] %}


{% set version = '2.4.7' %}
{% set vst2_category = 'Tools/Analyzer/Meter' %}


{% set name = {'real': 'traKmeter', 'short': 'trakmeter'} %}


{% set variants = [{'real':    'Stereo',
                    'short':   'stereo',
                    'defines': ['TRAKMETER_STEREO=1']},

                   {'real':    'Multi',
                    'short':   'multi',
                    'defines': ['TRAKMETER_MULTI=1']}] %}


{% set includes = {
  'paths': [
    "JuceLibraryCode",
    "libraries",
    "libraries/juce/modules",
    "Source/frut"
  ],
  'paths_unittest': [
    "libraries/googletest/googletest/include"
  ],
  'files': [
    "Source/frut/FrutHeader.h"
  ],
  'files_unittest': [
  ]
} %}


{% set variants_vst2 = variants %}


{% set additions_solution = "" %}


{% set additions_packaging = {
  'default': [
    'archive_add "RESOURCE_INPUT/Documentation/trakmeter.pdf" ""',
    'archive_add "RESOURCE_INPUT/Documentation" "RESOURCE_OUTPUT"',
    'archive_add "RESOURCE_INPUT/Skins/Default" "RESOURCE_OUTPUT/Skins"',
    'archive_add "RESOURCE_INPUT/Skins/Default.skin" "RESOURCE_OUTPUT/Skins"'
  ]
} %}
